body { background: #e1dd9a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 38px; display: flex; }
.block-email-0 { color: #b7d209; font-size: 17px; margin-bottom: 5px; }
.block-payment-1 { color: #cfe7a5; font-size: 20px; margin-bottom: 5px; }
.block-validator-2 { color: #cd7a6; font-size: 21px; margin-bottom: 5px; }
.block-search-3 { color: #c0de4e; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #1b2bdc; font-size: 12px; margin-bottom: 5px; }
.block-validator-5 { color: #3bc3f6; font-size: 21px; margin-bottom: 5px; }